* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
/*image grootte */
* img {
    max-width: 100%;
}


body {
    min-height: 100vh;
    background-image: url(img/logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-color: hwb(0 0% 100% / 0.722);
    font-family: 'Times New Roman', Times, serif
} 

header {
    min-height: 15vh;
}

main {
    min-height: 80vh;
}

/* navigatie pagina's*/

.nav-container {
    border: 0.2em solid hsl(0, 0%, 0%);
    border-radius: 2em;
    margin-top: 2em;
    overflow: hidden;
    /* flex toepassen om rechts en links achter elkaar te navigeren */
    display: flex;
    /* duwt beide blokken naar de randen met justify-content */
    justify-content:space-between;
    
}
/* richt op de ul  */
.right-side, .left-side{
    list-style-type: none;
    display: flex;
}

/* wijzig li weergave van blok naar inline blok */
.right-side li, .left-side li{
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

/* stijl de ankerelementen */
.right-side li a, .left-side li a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-size: 1.50em;
    color: #333;
    padding: 0.80em;
    font-weight: bold;
}

/* toevoeging hover */
.right-side li a:hover, .left-side li a:hover {
    background-color: #fbcaca;
}

/*tekst lettertype, color, size elke h*/
h1  {
    color: #0e080c;
    text-align: center;
    font-family: candara;
    
}

h2 {
    background: #EEE3D2;
    padding: 0.3em;
    text-align:center;
    font-family: Calibri;

}

/*home*/

.about {
    width: 50%;
    padding: 5em;
    background-color: transparent;
    display: flex;
    text-align: center;
} 

.about img {
    height: auto;
    width: 27em;
}

.about-tekst {
    width: 35em;
}

.about-tekst h1 {
    color: rgb(0, 0, 0);
    font-size: 6vw;
    margin-bottom: 2vw;
    justify-content: flex-end;
}

.about-tekst h2 {
    color: rgb(0, 0, 0);
    font-size: 4vw;
    margin-bottom: 0.60vw;
    letter-spacing: 0.12vw;
    justify-content: flex-end;
}

main .about {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*blog*/

.blog {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    margin: 2%;
    justify-content: space-evenly;
    text-align: center;
    gap: 3em;
}

.blog article {
    color: #000000;
    background-color: #EEE3D2;
    display: flex;
    width: 55%;
    margin-bottom: 2em;
}

/*Gallery*/

.fotos {
    box-sizing: border-box;
    columns: 3 30vw; 
    gap: 15px;
}

/*contact*/

.contactformulier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-inline: 20%;
    background-color: #EEE3D2;
    border-radius: 50%;
}

input,textarea {
    
    padding: 1rem;
    margin: 1rem;
    width: 100%
}

button {
    color: rgb(0, 0, 0);
    background-color: rgb(220, 182, 182);
    padding: 0.8rem;
    font-size: larger;
}

footer {
    background-color: rgb(255, 235, 247);
    text-align: center;
    display: flex;
    align-items: center;
    min-height: 5vh;
    justify-content: center;
}

