* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}


body{
    background-image: url(img/logo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-color: hwb(0 93% 7% / 0.722);
    font-family: 'Times New Roman', Times, serif
    

}

h1  {
    color: #0e080c;
    text-align: center;
    font-family: fantasy;
    
}

h2 {
    border: 1Px solid black; 
    background: rgb(241, 220, 220);
    padding: 0.1em;
    text-align:center;
    font-family: fantasy

}


.nav-container{
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 25px;
    margin-top: 50px;
    overflow: hidden;
    /* apply flex to get right and left navigations in a row */
    display: flex;
    /* push both the blocks to the edges using justify-content */
    justify-content: space-between;
}
/* target the ul and remove the bullets */
.right-side, .left-side{
    list-style-type: none;
}
/* change li display property from block to inline block */
.right-side li, .left-side li{
    display: inline-block;
}
/* style the anchor elements */
.right-side li a, .left-side li a{
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #333;
    padding: 14px 16px;
    font-weight: bold;
}
/* apply hover */
.right-side li a:hover, .left-side li a:hover{
    background-color: #fbcaca;
}

div {
    display: block;
    background: #ecdcdc;
    border: 2px solid black;
    width:44%;
    height:20em;
    display: inline-block;
    margin-right: 5%;
}

.betty {
    width: 350px;
    height: 500px;
}
.image-container {
    display: flex;
    justify-content: space-between; /* Hiermee worden de afbeeldingen aan de uiteinden van de container geplaatst */
    max-width: 100%;
    height:auto
}

.gallerijfoto {
    height: auto;
    width: 50%;
    justify-content: center;
    align-items:baseline 

   
}

.gallerijfoto2 {
    height: auto;
    width: 50%;
    display: flex;
    

}

.container {
    position: relative; 
  }
  


.contactfoto{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: right;
}


.box1 {
    border: 0.5px solid #f2e0e0; /* Randstijl en kleur */
    padding: 1px; /* Ruimte binnen de box */
    margin: 5px; /* Ruimte tussen de boxen */
    text-align: center;
}

.box2 {
    border: 0.5px solid #f2e0e0; /* Randstijl en kleur */
    padding: 1px; /* Ruimte binnen de box */
    margin: 5px; /* Ruimte tussen de boxen */
    text-align: center;
}

.blog {
    display: flex;
    justify-content: center;
    align-items: center;

}

ul {
    color: rgb(242, 77, 195);
    display: flex;
    justify-content: space-evenly

}

.her {
    display: flex;
    justify-content: flex-end;
    height: auto;
}

.formulier {

    color: #df98c4;
    font-size: 0.875em;
}

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:rgb(214, 121, 154);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #000000;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.form { 
    max-width:420px; margin:50px auto; 
}

.feedback-input {
  color:rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #EEE3D2
}

.feedback-input:focus { 
    border:2px solid #c28a8d;
}

.textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#000000;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:rgb(255, 255, 255);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

[type="submit"]:hover { background:#cca9a9; }
